<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<th:block th:insert="/layout/header::header">
	</th:block>
</head>
<body>

<div class="container">
	<form th:action="@{'/product/handleEditProduct/'+${product.id}}" method="post" enctype="multipart/form-data" th:object="${product}">
		<div class="form-group row">
			<label for="inputName" class="col-sm-1-12 col-form-label">Name</label>
			<div class="col-sm-1-12">
				<input type="text" class="form-control" id="inputName" th:field="*{name}" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<img th:src="*{image}" style="width: 100px;height: 100px;object-fit: cover">
			<label for="image" class="col-sm-1-12 col-form-label">Image</label>
			<div class="col-sm-1-12">
				<input type="file" class="form-control" id="image" name="file" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1-12 col-form-label">STATUS</label>
			<div class="col-sm-1-12">
				<input type="radio" class="form-control" value="true" th:field="*{status}" th:checked="*{status}" placeholder=""> Hiển
				<input type="radio" class="form-control" value="false" th:field="*{status}" th:checked="*{!status}" placeholder=""> Ẩn
			</div>
		</div>
		<button type="submit">Update</button>
	</form>
</div>

<th:block th:insert="/layout/header::myScript">

</th:block>
</body>
</html>